.env
.env.*
.env.example
!.env.example
vendor
node_modules
storage/*.key
storage/logs/*
bootstrap/cache/*
.git
.gitignore
.idea
.vscode
*.md
docker-compose.yml
render.yaml
tests
phpunit.xml
pint.json
